<table mat-table [dataSource]="logs" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="accpeted">
      <th mat-header-cell *matHeaderCellDef> Accpeted </th>
      <td mat-cell *matCellDef="let element"> {{element.accpeted}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="expired">
      <th mat-header-cell *matHeaderCellDef> Expired </th>
      <td mat-cell *matCellDef="let element"> {{element.expired}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayed"></tr>
    <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
  </table>


<!-- <mat-list>
  <mat-list-item>
      <div style="padding: 10px; display: flex">
          <div style="padding: 10px;">ID</div>
          <div style="padding: 10px;">Accepted</div>
          <div style="padding: 10px;">Rejected</div>
      </div>
  </mat-list-item>
  <mat-list-item *ngFor="let i of logs">
    <div style="padding: 10px; display: flex">
        <div style="padding: 10px;">{{i.id}}</div>
        <div style="padding: 10px;">{{i.accpeted}}</div>
        <div style="padding: 10px;">{{i.rejected}}</div>
        <div style="padding: 10px;">{{i.expired}}</div>
    </div>
  </mat-list-item>
</mat-list> -->
